@media screen and (max-width: 1848px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

@media screen and (max-width: 1744px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

@media screen and (max-width: 1617px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media screen and (max-width: 1550px) {
  .travel-card-box:hover h3 {
    margin-top: 15%;
  }
}

@media screen and (max-width: 1499px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}

@media screen and (max-width: 1469px) {
  .review-card {
    max-width: 351px;
  }

  .review-card hr {
    width: 250px;
  }

  .container {
    padding: 0rem 1% 2rem;
  }
}

@media screen and (max-width: 1399px) {
  .title {
    font-size: 3.4rem;
  }
  .paragraph {
    font-size: 1.1rem;
  }

  .paragraph-leading {
    font-size: 1.3rem !important;
  }

  .section-title h3 {
    font-size: 1.3rem;
  }

  .box-title {
    font-size: 1.2rem;
  }

  .box-paragraph {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .parallax-heading {
    font-size: 3.2rem;
  }

  .parallax-sub-heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1383px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
@media screen and (max-width: 1300px) {
  .review-card {
    max-width: 300px;
  }

  .review-card hr {
    width: 220px;
  }
}

@media screen and (max-width: 1290px) {
  .travel-card-overlay a {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 1267px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
}

@media screen and (max-width: 1232px) {
  .travel-card-box-area {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .travel-card-box:hover h3 {
    margin-top: 40%;
  }

  .home-content {
    padding: 0rem 7% 2rem !important;
  }
}

@media screen and (max-width: 1199px) {
  .flex-para {
    width: 100%;
  }
}

@media screen and (max-width: 1151px) {
  .title {
    font-size: 3rem;
    stroke-width: 2;
  }

  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  }
  .why-us-box i {
    font-size: 2.5rem;
  }

  .why-us-box h2 {
    font-size: 1.3rem;
  }

  .why-us-box p {
    font-size: 1.1rem;
  }

  .why-us-container {
    gap: 1rem;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-box:hover img {
    transform: scale(1.2, 1.2);
  }

  .gallery-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1092px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}

@media screen and (max-width: 1034px) {
  .navbar-header a {
    margin: 0px 20px;
  }

  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  }

  .btn-to-do {
    font-size: 1rem;
  }
}

@media screen and (max-width: 976px) {
  .w-7 {
    grid-column: span 8;
  }

  .h-7 {
    grid-row: span 2;
  }

  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  }

  .why-us-box i {
    font-size: 2.2rem;
  }

  .why-us-box h2 {
    font-size: 1.2rem;
  }

  .why-us-box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .paragraph {
    text-align-last: center !important;
  }

  .paragraph-leading {
    text-align-last: center !important;
  }

  .logo {
    width: 4rem;
  }
  #menu-icon {
    font-size: 2rem;
    display: block;
    color: #fdfdfd;
  }

  #menu-icon.scrolled {
    color: black;
  }

  header {
    padding: 1.5rem 5%;
  }

  header.side {
    background: white;
  }

  .navbar-header li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navbar-header a {
    color: black;
    text-shadow: none;
  }

  .main a.side {
    color: black;
    text-shadow: none;
  }

  .bx-x:before {
    color: black;
  }
  .navbar-header {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fdfdfd;
    padding: 1rem 3%;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar-header.side {
    display: block;
  }

  .title {
    font-size: 3rem;
    display: block;
  }

  .paragraph {
    font-size: 1rem;
  }
  .paragraph-leading {
    font-size: 1.2rem !important;
  }

  .section-title h3 {
    font-size: 1.2rem;
  }

  .btn-font {
    font-size: 1rem;
  }

  .box-title {
    font-size: 1.1rem;
  }

  .parallax-heading {
    font-size: 2.8rem;
  }

  .parallax-sub-heading {
    font-size: 1.3rem;
  }

  .parallax-1-inner {
    text-align: center;
  }

  .parallax-1-img {
    background-attachment: scroll;
  }

  .parallax-2-img {
    background-attachment: scroll;
  }

  .parallax-3-img {
    background-attachment: scroll;
  }

  .parallax-4-img {
    background-attachment: scroll;
  }

  .parallax-5-img {
    background-attachment: scroll;
  }

  .parallax-6-img {
    background-attachment: scroll;
  }

  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .parallax-2-inner {
    text-align: center;
  }

  .why-us-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
  }

  .why-us-box {
    flex: auto;
    max-width: auto;
  }

  .parallax-4-inner {
    text-align: center;
  }

  .review-grid {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }

  .review-card {
    max-width: 400px;
  }

  .review-card hr {
    width: 300px;
  }

  .review-card i {
    font-size: 2rem;
  }

  .footer-container {
    flex-direction: column;
    padding: 2rem;
  }

  .payment {
    margin-top: 1.5rem;
  }

  .footer-section {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 858px) {
  .travel-card-box:hover h3 {
    margin-top: 25%;
  }
}

@media screen and (max-width: 825px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  }
}

@media screen and (max-width: 778px) {
  .title {
    font-size: 2.8rem;
  }

  .travel-card-box-area {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    justify-items: center;
  }
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
}

@media screen and (max-width: 686px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  }
}

@media screen and (max-width: 660px) {
  .to-do-container {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }

  .vacation-wrapper .center-line {
    width: 4px;
  }

  .row .step-box .details .s-title {
    font-size: 1.1rem;
  }

  .row .step-box p {
    font-size: 1rem;
  }

  .row .step-box .icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 630px) {
  .title {
    font-size: 2.5rem;
  }

  .secondary-title h3 {
    font-size: 1.3rem;
  }

  .home-title h3 {
    font-size: 1.3rem;
  }

  .to-do-text {
    font-size: 1.3rem;
  }

  .to-do-gallery-container:hover .to-do-text {
    font-size: 1.7rem;
  }

  .btn-2 {
    padding: 0.8rem 1.5rem;
  }

  .to-do-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 1;
  }
  .w-3 {
    grid-column: span 1;
  }
  .w-4 {
    grid-column: span 1;
  }
  .w-5 {
    grid-column: span 1;
  }
  .w-6 {
    grid-column: span 1;
  }
  .w-7 {
    grid-column: span 1;
  }

  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 1;
  }
  .h-3 {
    grid-row: span 1;
  }
  .h-4 {
    grid-row: span 1;
  }
  .h-5 {
    grid-row: span 1;
  }
  .h-6 {
    grid-row: span 1;
  }
  .h-7 {
    grid-row: span 1;
  }

  .btn-to-do {
    padding: 0.5rem 1.5rem;
  }

  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-box:hover img {
    transform: scale(1.1, 1.1);
  }
}

@media screen and (max-width: 550px) {
  .secondary-title h3 {
    padding-bottom: 2rem;
  }

  .home-title h3 {
    padding-bottom: 2rem;
  }

  .review-card {
    max-width: 350px;
  }

  .review-card hr {
    width: 250px;
  }

  .parallax-heading {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 2px;
  }

  .parallax-sub-heading {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 466px) {
  .title {
    font-size: 2rem;
  }

  .travel-card-box:hover h3 {
    margin-top: 5%;
  }

  .parallax-heading {
    font-size: 2rem;
  }

  .parallax-sub-heading {
    font-size: 1.2rem;
  }

  .why-us-box h2 {
    font-size: 1.1rem;
  }

  .review-card {
    max-width: 300px;
  }

  .review-card hr {
    width: 200px;
  }

  .row .step-box .icon {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 406px) {
  .travel-card-box-area {
    margin-left: 0;
    margin-right: 0;
  }

  .travel-card-box:hover h3 {
    margin-top: 40%;
  }
}

@media screen and (max-width: 360px) {
  .section-title h3 {
    font-size: 1.1rem;
  }
  .title {
    font-size: 1.8rem;
  }

  .paragraph {
    font-size: 0.8rem;
  }
  .paragraph-leading {
    font-size: 1.2rem !important;
  }

  .secondary-title h3 {
    font-size: 1.2rem;
  }

  .home-title h3 {
    font-size: 1.2rem;
  }

  .travel-card-box:hover h3 {
    margin-top: 20%;
  }

  .btn-2 {
    font-size: 0.8rem;
  }

  .to-do-text {
    font-size: 1rem;
  }

  .to-do-gallery-container:hover .to-do-text {
    font-size: 1.4rem;
  }

  .review-card {
    max-width: 250px;
  }

  .review-card hr {
    width: 150px;
  }
}

@media screen and (max-width: 322px) {
  .travel-card-box:hover h3 {
    margin-top: 2%;
  }
}

/* footer */

@media (max-width: 1200px) {
  .footer-col {
    width: 30%;
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  .footer-col {
    width: 45%;
    margin-top: 0;
  }

  .footer-col ul li a {
    font-size: 1rem;
  }

  .footer-col h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .footer-col {
    width: 100%;
  }
}

/* vacation */

@media (max-width: 900px) {
  .vacation-wrapper .center-line {
    left: 38px;
    transform: none;
  }

  .vacation-wrapper .row-1,
  .vacation-wrapper .row-2 {
    justify-content: flex-start;
  }

  .vacation-wrapper .row .step-box {
    width: calc(100% - 40px);
    margin-left: 60px; /* Align boxes to the right of the center line */
    margin-bottom: 2rem;
  }

  .row-1 .step-box::before,
  .row-2 .step-box::before {
    left: -7px;
    right: auto;
  }

  .row-1 .step-box .icon,
  .row-2 .step-box .icon {
    left: -60px;
    right: auto;
  }
}
