@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "FlowBlock-Regular";
  src: url(./assets/fonts/Password/Password.ttf);
}

body {
  min-height: 100vh !important;
}

/* Colors */
.bg-theme-1 {
  background-color: rgb(255, 255, 255);
}

.bg-theme-2 {
  background-color: rgba(146, 170, 199, 0.24);
}

.bg-theme-3 {
  background-color: rgba(255, 255, 255);
}

.bg-theme-4 {
  background-color: rgba(255, 0, 0, 0);
}

.bg-theme-5 {
  background-color: rgba(255, 255, 255, 0.845);
}

.bg-theme-6 {
  background-color: rgb(250, 250, 255);
}

.bg-theme-7 {
  background-color: lightgray !important;
}

.bg-theme-8 {
  background-color: #0c1041 !important;
  color: white;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: rgba(38, 100, 166, 0.418);
}

.bg-theme-9 {
  background-color: lightgray;
}
/* Top navigation */
.navbar-shadow {
  box-shadow: 0rem 0.2rem 0.75rem 0.05rem rgb(211, 215, 236);
}

.navbar-shadow-2 {
  box-shadow: 0rem 0.2rem 0.75rem 0.05rem rgba(38, 38, 43, 0.114);
}
.navbar-height {
  height: 2.5rem;
}

.branch-name {
  margin-left: 20rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.branch-name-no-margin {
  font-size: 0.9rem;
  font-weight: bold;
}

/* Side navigation */
.side-navigation-container {
  width: 23rem;
  height: 100vh;
  overflow-y: auto;
  border-color: rgb(118, 118, 118);
  z-index: 50050;
  padding-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
  padding-right: 0.5rem;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}
.side-navigation-item-group {
  padding: 0.5rem;
  background-color: rgb(227, 242, 255);
  border: 1px solid transparent;
  border-radius: 2rem;
}

.accordion-item {
  border-color: transparent;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

.accordion-item .accordion-button.collapsed {
  background-color: rgb(231, 231, 231);
}

.accordion-item:hover .accordion-button.collapsed {
  background-color: rgb(218, 218, 218);
}

.accordion-item:focus .accordion-button.collapsed {
  background-color: rgb(194, 194, 194);
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

.accordion-item:last-of-type .accordion-collapse {
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

.side-navigation-item-group-btn {
  background-color: rgb(128, 16, 16);
  border: 1px solid transparent;
  border-radius: 2rem;
  font-size: 1rem !important;
}

.side-navigation-item-group-btn:not(.collapsed) {
  background-color: rgb(190, 218, 255);
}

.side-navigation-item-group-btn:focus {
  box-shadow: 0px 0px #f4b700;
}

.side-navigation-item-group-btn:hover {
  background-color: #67b6ff;
}

.side-navigation-item:hover {
  background-color: #f3e5b7;
}

.side-navigation-item-active {
  padding: 1rem 1.25rem;
  font-weight: 500;
  border: 0rem;
  background-color: #312e23;
  border-left: 0.5rem solid rgb(255, 238, 190);
  color: rgb(0, 42, 87);
}

.side-navigation-item-active:hover {
  padding: 1rem 1.25rem;
  border: 0rem;
  background-color: #272212;
  border-left: 0.5rem solid rgb(227, 230, 245);
  color: rgb(0, 42, 87);
}

.side-navigation-item {
  padding: 1rem 1.25rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 42, 87);
  font-weight: 500;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.side-navigation-item:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 2rem;
}

.side-navigation-item-active {
  padding: 1rem 1.25rem;
  border: 1px solid transparent !important;
  border-radius: 2rem !important;
  background-color: rgb(88, 169, 255);
  transition: 0.2s ease;
}

.side-navigation-item-active:hover {
  padding: 1rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  background-color: rgb(61, 152, 255);
}

.side-nav-border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.side-nav-border-top {
  border-top: 1px solid #dee2e6 !important;
}

.side-nav-item-border-modifer {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.logo-position {
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0.2rem 0.2rem 0.75rem 0.05rem rgb(211, 215, 236);
}

.logo-position-2 {
  height: 3.3rem;
  margin-bottom: 2rem;
  /* box-shadow: 0.20rem 0.20rem 0.75rem 0.05rem rgb(211, 215, 236); */
}

.no-radius {
  border-radius: 0px;
}

/* Content container */
.content {
  margin-top: 4.5rem;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-x: auto;
}

.content-2 {
  min-height: 100vh;
}

.content-centered {
  padding-left: 18rem;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.action-btn {
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 3px;
  border: none;
}

.action-btn:hover:enabled {
  color: rgb(38, 100, 166);
}

.delete-btn:hover:enabled {
  color: rgb(234, 2, 2);
}

.success-btn:hover:enabled {
  color: #198754;
}

.search-bar-position {
  float: right;
}

.final-section {
  margin-bottom: 3.5rem;
}

.input-group-text-mod {
  background-color: white;
  border-left: 0px;
}

.input-group-control-mod {
  border-right: 0px;
}
/* Footer */
.footer {
  box-shadow: 0rem 0.2rem 0.75rem 0.05rem rgb(211, 215, 236);
}

.footer-2 {
  position: relative;
  box-shadow: 0rem 0.2rem 0.75rem 0.05rem rgba(73, 74, 79, 0.422);
}

.footer-height {
  height: 3.5rem;
}

.copyright-text {
  font-size: 0.75rem;
  margin-left: 17.5rem;
}

.copyright-text-2 {
  font-size: 0.75rem;
}

.y-margin-adjust {
  margin-top: auto;
  margin-bottom: auto;
}
.search-by-col-1 {
  padding-left: 0px;
  min-width: fit-content !important;
}
.search-by-col-2 {
  padding-left: 0px;
  padding-right: 0px;
  min-width: fit-content !important;
}

.table-row {
  padding-left: 1rem;
  padding-right: 1rem;
}
.table-container {
  margin: 0rem;
  border-color: rgb(38, 100, 166) !important;
}

.table-container-2 {
  overflow: auto !important;
  max-width: 100%;
  margin: 0rem;
  border-color: rgb(38, 100, 166) !important;
}

table {
  margin-top: 1rem;
  min-width: 850px;
}

.min-width-remover {
  min-width: fit-content !important;
}

td,
th {
  background-color: rgb(255, 255, 255) !important;
}

tbody > tr:last-of-type {
  border-bottom: 0px solid rgba(255, 0, 0, 0);
}

.table-heading {
  margin: 0px;
}

.table-heading .col {
  padding-left: 0px;
}

.sort-caret {
  text-align: right;
}

.sort-btn {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(38, 100, 166);
  border: none;
}

.sort-btn:hover {
  color: rgb(16, 59, 104);
}

.page-item {
  height: 1.75rem;
}

.page-item button {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100%;
  vertical-align: middle;
  background-color: rgb(38, 100, 166);
  color: white !important;
  border-color: #7e6c1a63 !important;
}

.page-item button:focus {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100%;
  vertical-align: middle;
  background-color: rgb(20, 64, 110);
  color: white !important;
  border-color: #7e6c1a63 !important;
}

.page-item button:hover {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100%;
  vertical-align: middle;
  background-color: rgb(29, 78, 131);
  color: white;
  border-color: #7e6c1a63 !important;
}

.page-item button:disabled {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100%;
  vertical-align: middle;
  background-color: rgb(43, 120, 202);
  color: white !important;
  border-color: #7e6c1a63 !important;
  opacity: 0.4;
}

.page-header {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.35rem;
}

.active-page {
  display: inline-block;
  width: 1.5rem;
  height: 100%;
  text-align: center;
  background-color: white;
  border-color: rgb(27, 75, 126) !important;
  align-content: center;
}

.pagination-color-fix button {
  color: #212529;
}

.pagination-text {
  color: rgb(110, 110, 110);
  font-weight: bolder;
}

.user-profile {
  width: 50%;
}
.user-name {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.user-group {
  font-size: 0.6rem;
}
.user-icon {
  font-size: 1.75rem;
}

.profile-btn {
  color: #212529;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.profile-btn:hover {
  color: rgb(2, 103, 234);
}

.bg-login {
  background-image: url(./assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

@media (max-width: 991.98px) {
  .bg-login {
    display: none;
  }
  .login-form-area {
    width: 100%;
  }
}

.login-row {
  min-height: 100vh;
}

.login-form-area {
  border-right: 1px solid rgb(228, 228, 228);
}

.logo-row {
  margin-top: 6rem;
}
.login-logo {
  max-width: 24rem;
}

.login-btn {
  margin-top: 2.25rem;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 3rem 1.5rem 3rem;
  max-width: 30rem;
  /*min-width: 15rem;*/
}

.btn-theme {
  background-color: #1a237e;
  color: white;
}

.btn-theme:focus {
  background-color: #1a237e !important;
  color: white !important;
}

.btn-theme:active {
  background-color: #1a237e !important;
  color: white !important;
}

.btn-theme:hover {
  background-color: #1a227ebb;
  color: white;
}

.btn-theme-delete {
  background-color: #ea0202;
  color: white;
}

.btn-theme-delete:focus {
  background-color: #ea0202 !important;
  color: white !important;
}

.btn-theme-delete:hover {
  background-color: #ea0202bb;
  color: white;
}

.btn-theme-success {
  background-color: #198754;
  color: white;
}

.btn-theme-success:focus {
  background-color: #198754 !important;
  color: white !important;
}

.btn-theme-success:hover {
  background-color: #198754bb;
  color: white;
}

.side-navigation-positioner {
  position: relative;
  height: fit-content;
  min-height: 100vh;
}

.side-navigation-positioner-row {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-bottom: 0.75rem;
}

.side-nav-spacer {
  height: 7.8rem;
}

.link-text-modifer {
  color: inherit;
  text-decoration: none;
}

.action-btn:hover:enabled {
  color: rgb(38, 100, 166) !important;
}

.form-select-mod {
  background-color: #fffffd;
  border-color: rgb(38, 100, 166) !important;
}

.form-select-mod:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 117, 253, 0.11) !important;
}
.form-select-mod-2 {
  background-color: #1a227e;
  color: white !important;
  border-color: #1a227e63 !important;
}

.form-select-mod:disabled {
  background-color: rgb(247, 247, 255);
  border-color: #1a227e63 !important;
  opacity: 0.5 !important;
}

.form-input-mod {
  background-color: #fffffd;
  border-color: rgb(38, 100, 166) !important;
}

.form-input-mod:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 117, 253, 0.11) !important;
}

.overview-btn {
  margin-bottom: 0.5rem !important;
}

.form-input-mod:disabled {
  background-color: rgb(255, 252, 247);
  border-color: rgb(21, 114, 212) !important;
  opacity: 0.5 !important;
}

.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231a237e'/%3e%3c/svg%3e");
  width: 2em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}

.form-check-input:checked {
  background-color: rgb(0, 45, 94);
}

.form-switch-mod {
  background-color: rgb(255, 254, 247);
  border-color: rgb(0, 45, 94) !important;
}

.forgot-password-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;
  max-width: 30rem;
}

.forgot-password-btn button {
  background-color: rgba(0, 0, 0, 0);
  color: #1a237e;
  border-width: 0;
  --bs-btn-active-color: #1a237e;
  --bs-btn-active-bg: rgba(0, 0, 0, 0);
  margin-top: 0.5rem;
}

.forgot-password-btn button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #1a237e;
  border-width: 0;
  --bs-btn-active-color: #1a237e;
  --bs-btn-active-bg: rgba(0, 0, 0, 0);
  margin-top: 0.5rem;
  font-weight: bold;
}

.opened button {
  font-weight: bold;
}

.login-form-2 {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 3rem 3rem 3rem;
  max-width: 30rem;
  /*min-width: 15rem;*/
}

.btn-theme-outline {
  background-color: transparent !important;
  color: rgb(38, 100, 166);
  border: rgb(38, 100, 166) 1px solid !important;
  width: 100%;
  min-width: fit-content;
}

.btn-theme-outline:hover {
  background-color: rgb(38, 100, 166) !important;
  color: white;
}

.btn-theme-2-outline {
  background-color: rgb(247, 247, 255);
  color: #1a237e;
  border-color: rgb(38, 100, 166) !important;
  min-width: fit-content;
}

.btn-theme-2-outline:hover {
  background-color: #1a237e;
  color: white;
}

.folder {
  margin-top: 1rem;
  background-color: rgb(227, 237, 245);
  border-color: rgb(38, 100, 166) !important;
  padding-top: 1rem;
  padding-left: 0.5rem;
  min-width: 850px;
}

.folder-link {
  border-color: #1a227e00 !important;
  color: black;
}

.folder-link:hover {
  background-color: #1a227e1b;
  font-weight: bold;
  color: black;
}

.folder-link-active {
  border-color: rgb(38, 100, 166) !important;
  background-color: #fff !important;
  border-bottom-color: #fff !important;
  color: black;
  font-weight: bold;
}

.folder-content-closed {
  display: none !important;
}

.col-end-adjust {
  position: absolute;
  right: 0px;
}

.col-end-adjust-parent {
  position: relative;
}

.folder-settings {
  min-width: 850px;
}

.callback-text {
  color: rgba(0, 0, 0, 0.685);
}

.callback-text h5 {
  font-size: 0.9rem;
}

.input-group-text-mod-2 {
  background-color: rgb(247, 247, 255);
  border-right: 0px;
  color: #212529;
}

.input-group-control-mod-2 {
  border-left: 0px;
}

.modal-adjuster .modal-dialog {
  max-width: fit-content !important;
}

.modal-adjuster .modal-content {
  background-color: rgb(247, 247, 255);
  border-color: #1a237e63;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2310154C'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.modal table {
  min-width: 20vw !important;
  width: 100%;
}

.modal table td {
  word-wrap: break-word; /* Ensures long words break to fit the cell */
  white-space: normal; /* Ensures that text wraps within the cell */
  word-break: break-all; /* Breaks words at any character to ensure wrapping */
}

.modal-content {
  min-width: 35vw !important;
}

.inner-table {
  margin-top: 0px !important;
  min-width: auto !important;
}

.throbber-fs-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6000;
  margin-top: 0.5rem;
}

.throbber-fs-content-center {
  padding-left: 18rem;
}

.throbber-fs {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 0.18rem;
  color: #1a227e;
  vertical-align: text-bottom;
  animation-duration: 0.375s;
}

.throbber-fs-content {
  display: inline-block;
  color: rgba(0, 0, 0, 0.94);
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgba(247, 247, 255, 0.445);
  box-shadow: 0rem 0.2rem 0.75rem 0.05rem rgba(100, 100, 109, 0.114);
  padding: 0.5rem 1rem;
  border-color: gray;
}

.throbber-con {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 0.3rem;
  animation-duration: 0.375s;
}

.throbber-con-content {
  color: #1a227e;
  font-size: 1.8rem;
}

.throbber-con-bg {
  padding-left: 18rem;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.timeout-heading {
  font-weight: bold;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.75);
}

.toast-positioner {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 99999;
}

.toast-positioner .toast {
  margin-bottom: 0.5rem !important;
}

.toast-img {
  height: 1rem;
  opacity: 0.85;
  margin-top: 0.04rem;
}

.toast-header-positioner {
  align-items: flex-start !important;
}

.add-to-grn-btn {
  background-color: #525252;
  color: white;
}

.add-to-grn-btn:hover {
  background-color: #525252bb;
  color: white;
}

.add-to-grn-btn:focus {
  background-color: #252525 !important;
  color: white;
}

.grn-body {
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.grn-table {
  margin-top: 0rem;
}

.veiw-grn-table {
  margin-top: 0;
}

.title-grn {
  padding-bottom: 1rem;
}
.location-bar {
  margin-bottom: 0rem !important;
  margin-left: 0rem;
  padding: 1rem;
  white-space: nowrap; /* Prevent text wrapping */
  overflow-x: auto !important; /* Enable horizontal scrolling */
}

.location-label {
  max-width: 4.9rem !important;
  padding-left: 0rem;
}

.fs-custom-large {
  font-size: large !important;
}

.fs-custom-larger {
  font-size: larger !important;
}

.custom-mb {
  margin-bottom: 8px !important;
}

.custom-pt {
  padding-top: 1rem !important;
}

.ff-hidden {
  font-family: "FlowBlock-Regular" !important;
}

.invisible-btn {
  display: none;
}

.error {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  vertical-align: center;
  text-align: center;
}

.error h1 {
  font-family: "Roboto-Regular", "serif";
  font-size: 4rem;
  margin: 0;
  font-weight: 900;
  color: rgb(0, 42, 87);
}

.error h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(38, 100, 166);
}

.error p {
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 1rem;
  color: rgb(38, 100, 166);
}

.error a {
  text-decoration: none;
  background: rgb(38, 100, 166);
  color: white;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.error a:focus {
  background-color: rgb(1, 31, 63) !important;
  color: white !important;
}

.error a:hover {
  background-color: rgb(0, 53, 110);
  color: white;
}

.error-footer {
  overflow-x: hidden;
}

.error-footer-text {
  padding-left: 0 !important;
}

.img-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
}

.img-overview img {
  opacity: 0.3;
  width: 40%;
}

.overview-content {
  display: flex !important;
  padding-top: 2rem;
}
.footer-end-details a {
  color: rgb(0, 1, 66) !important;
  text-decoration: underline;
}

.footer-end-details a:hover {
  text-decoration: underline;
  font-weight: 500;
}

.custom-ms {
  margin-left: 12px;
}

.dropdown-adjuster {
  width: 100%;
}
.dropdown-adjuster button {
  text-align: start;
}
.dropdown-adjuster ul {
  width: 100%;
  overflow-y: auto;
  min-height: 2.5rem;
  max-height: 15rem;
}

.dropdown-adjuster .dropdown-item {
  display: inline-block;
  width: 100%;
}

.dropdown-adjuster .input-group {
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
}

.dropdown-adjuster .input-group-control-mod {
  width: 90%;
  display: inline-block;
}
.dropdown-adjuster .input-group-text-mod {
  width: 10%;
  display: inline-block;
}
.position-absolute {
  position: absolute !important;
}

.dropdown-item-mod:hover {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
}

.form-label-new {
  font-size: large;
}

.margin-top-custom {
  margin-top: 10px;
}

.fs-custom {
  font-size: 0.85rem;
}

.corporate-customer-switch-positioner {
  margin-top: 2.5px;
  font-size: large;
}

.float-end {
  float: right;
}

.pagination {
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(253, 217, 13, 0.25);
}

.table {
  --bs-table-hover-bg: rgb(228, 241, 255);
}

.btn:hover {
  background-color: #a38324;
}

.btn:focus {
  background-color: #8d6e12 !important;
}

.modal-body,
.modal-footer,
.modal-header {
  background-color: white;
}

.btn-close {
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0.25);
}

.table-heading-title {
  color: black !important;
}

.granted-text {
  color: black !important;
}

svg {
  color: #a38324;
}

.usergroup-info {
  margin-top: 1rem !important;

  margin-bottom: 1rem;
}

.usergroup-info-text {
  font-size: 1.2rem;
}

.disc-active {
  color: #045900;
  background-color: #bbebb8;
  padding: 3px 15px;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-radius: 2rem;
}

.disc-pending {
  font-size: 0.85rem;
  color: #454545;
  background-color: #e6e6e6;
  padding: 3px 15px;
  text-transform: uppercase;
  border-radius: 2rem;
}

.edit-active {
  margin-right: 3.5rem;
}

.quill-text h1 {
  font-size: 2rem !important;
  color: rgb(0, 44, 90);
}

.quill-text h2 {
  font-size: 1.6rem !important;
  color: rgb(0, 67, 138);
}

.quill-text h3 {
  font-size: 1.4rem !important;
  color: rgb(0, 87, 180);
}

.quill-text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
  max-width: 1000px;
}
@media (max-width: 1370px) {
  .login-wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: scale(0.8);
  }
}
.country-code {
  max-width: 6rem !important;
}
.error-already-exist {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #eb5e00;
}
.total-amount {
  color: #3d3d3d !important;
  display: flex;
  font-weight: 700;
  font-size: 0.8rem;
}

.double-row {
  vertical-align: top !important;
}

.inquiry {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.1rem 0.5rem;
  border-radius: 2rem;
}

.inquiry-pending {
  background-color: #e6e6e6;
  color: #454545;
}

.inquiry-approved {
  background-color: #bbebb8;
  color: #045900;
}

.inquiry-rejected {
  background-color: #f8d7da;
  color: #721c24;
}

.inquiry-invoiced {
  background-color: #d1ecf1;
  color: #0c5460;
}

.inquiry-budget {
  background-color: #000000;
  color: #ffffff;
}

.inquiry-general {
  background-color: #a4cbf7;
  color: #083b5e;
}

.center-by-margins {
  margin-left: auto;
  margin-right: auto;
}

.card-min-width {
  min-width: 300px;
}

.total-items {
  position: absolute;
  right: 1rem;
  font-weight: bold;
}
