.col-1 {
  width: 12% !important;
}
.table > :not(caption) > * > * {
  padding: 0.9rem 1rem ;
}

.button-grid .action-btn {
  font-size: 1.1rem;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.price-row {
  padding-right: 2rem !important;
}
.tour-invoice-table-header {
  padding-right: 0 !important;
  padding-left: .8rem !important;
}
@media screen and (max-width: 1548px) {
  .content {
    margin-top: 5rem !important;
    overflow-x: hidden;
  }

  .table-row-invoice {
    vertical-align: middle;
  }
  .login-left {
    min-width: 50% !important;
  }
  .login-wrapper {
    width: 450px !important;
  }
}

@media screen and (max-width: 1370px) {
  .header-secondary {
    padding: 0.5rem 3%;
  }

  .logo {
    width: 2.5rem !important;
  }

  .main-secondary {
    transform: scale(0.8);
    transform-origin: center center;
  }

  .content {
    margin-top: 2rem;
    transform: scale(0.9);
    transform-origin: top center;
  }

  .filter-value {
    max-width: 50%;
  }

  .footerBottom {
    padding: 10px;
    font-size: 0.8rem;
  }
}
